.Ingredients {
  flex: 0.29;
  background-color: #fff;
  padding: 20px;
  height: fit-content;
}

.IngredientsTable {
  display: table;
  border-collapse: collapse;
  border-color: #ddd;
}

.IngredientsTable tr {
  border-bottom: 1px solid #ddd;
}

.IngredientsTable td {
  padding: 10px;
  text-align: left;
}

.IngredientsTable td:nth-child(1) {
  width: 10%;
}

.IngredientsTable td:nth-child(2) {
  width: 20%;
}

.IngredientsTable td:nth-child(3) {
  width: 70%;
  float: right;
}

.IngredientsTable tr:hover {
  background-color: rgba(128, 152, 125, 0.22);
}
