.Navbar {
  background-color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.NavbarItems > li {
  display: inline-block;
  color: #707070;
  margin-right: 30px;
  font-family: "Open Sans", sans-serif;
  padding: 12px 0;
}

.NavbarItems > li > a.active {
  padding-bottom: 10px;
  border-bottom: 5px solid #80977d;
}

.SearchBox {
  border: 1px solid #c7c7c7;
  padding: 5px 10px;
  color: #ddd;
}

.SearchBox,
.NavbarItems > li {
  font-size: 16px;
  font-weight: bold;
}

.SearchBox:focus {
  outline: 1px solid #80977d;
}
